In [5]:
import numpy as np
#mathmatical calculations
import matplotlib.pyplot as plt
#plots
import pandas as pd
#dataset mangment
import os

In [6]:
os.getcwd()

'C:\\Users\\sandeep.mallannagari.EMEAONLAB'

In [7]:
os.chdir("D:\\Machine Learning A-Z Template Folder\\Part 1 - Data Preprocessing")

In [8]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
# all rows and all columns except the final column
y = dataset.iloc[:, 3].values

In [9]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  50000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [10]:
# Taking care of missing data
from sklearn.impute import SimpleImputer
#Sklearn is actually scikit learn is a free ML Library for Python.
#SimpleImputer is a class which take cares of missing data in dataset

In [11]:
#Here we are creating the object instance of the class
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')

In [54]:
?imputer.fit

In [15]:
imputer=imputer.fit(X[:,1:3])

In [16]:
X[:,1:3]

array([[44.0, 72000.0],
       [27.0, 50000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, nan],
       [35.0, 58000.0],
       [nan, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [17]:
#Transform is the function used to replace missing data with the given strategy 
X[:,1:3] = imputer.transform(X[:,1:3])

In [18]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 50000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 64000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [19]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  50000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [40]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
# all rows and all columns except the final column
y = dataset.iloc[:, 3].values

In [26]:
imputer2 = SimpleImputer(missing_values = np.nan, strategy = 'median')

In [27]:
imputer2=imputer2.fit(X[:,1:3])

In [28]:
X[:,1:3] = imputer2.transform(X[:,1:3])

In [29]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 50000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [31]:
imputer3 = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

In [32]:
imputer3=imputer3.fit(X[:,1:3])

In [33]:
X[:,1:3] = imputer3.transform(X[:,1:3])

In [35]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 50000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 50000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 27.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [41]:
imputer4 = SimpleImputer(missing_values = np.nan, strategy = 'constant',fill_value=60000)

In [42]:
imputer4=imputer4.fit(X[:,1:3])

In [43]:
X[:,1:3] = imputer4.transform(X[:,1:3])

In [44]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 50000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 60000],
       ['France', 35.0, 58000.0],
       ['Spain', 60000, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)